body {
  background-image: url("/assets/pup1.jpg");
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  display: flex;
  flex-direction: column;
}

header > h1 > a {
  font-size: 14px;
}

main {
  height: 500px;
  width: 500px;
}

main > div {
  padding: 8px;
  border: 1px solid var(--color-text);
  background: black;
}
